.idea/
venv/
grazie/spell/main/data/noising_resources/
__pycache__/
grazie/spell/main/training/catboost_info/*
grazie/spell/main/training/neuspell/*
grazie/spell/main/training/runs/*
*.DS_store
grazie/spell/main/data/experiments/**/*.txt
grazie/spell/main/data/datasets/**/*.gt
grazie/spell/main/data/datasets/**/*.noise
grazie/spell/main/data/n_gram_freqs/1_grams.csv
grazie/spell/main/data/n_gram_freqs/2_grams.csv
grazie/spell/main/data/n_gram_freqs/3_grams.csv

